body{
 font-family: sans-serif;
 
    background-image: linear-gradient( white,rgb(187, 230, 187),rgb(109, 175, 109),green);
}
h1{
    color: green;
    font-size: 50px;
    text-align: center;
}
h2{
    color: black;
    font-size: 40px;
    text-align: left;
}
p{
    color:black;
    font-size: 35px;
    text-align: justify;
}
.logo {
    width: 600px;
    height: 300px;
    margin: 2px; /*insere um espaçamento externo ao elemento, ao redor da borda*/
    padding: 2px; /*define uma distância interna entre um elemento e sua borda*/
    border: 0.2rem solid #000000;
    border-radius: 20px;
}

/*.fotos {  
    width: 70px;
    height: 300px;
    margin: 19px;
    padding: 3px;
    border: 0.5rem solid #2c3546;
    border-radius: 24px;
}
